.venv/
__pycache__/
*.pyc
*.exe
**/recording.wav
**/stderr.txt
**/server.pid
**/server.log
**/server.err.log
**/server.out.log
**/cert.pem
**/key.pem
config.json
dist/
build/
.build_venv/
*.spec
temp/
*.bak
audit.log

ffmpeg/
